@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --font-display: var(--font-space);
  --font-body: var(--font-serif);
  --font-mono: var(--font-code);
}

.form-input {
    @apply mb-5 w-full border border-[#DEDED6] bg-[#FCFCFA] px-3 py-[11px];
}

.form-label {
@apply mb-[6px] block font-mono text-[11.5px] uppercase tracking-[0.05em] text-[#83888F];
}

.initial-title{
  @apply text-[#83888F] uppercase font-mono text-xs mb-[10px] leading-[1.65] tracking-[0.08em]
}

.initial-paragraph{
  @apply text-[#4A4F57] font-body text-[17px] sm:text-[19px] max-w-[52ch] mb-[6px] leading-[1.65]
}

.content-entry {
  @apply font-mono leading-[1.65]
}

.content-title {
  @apply text-[#181A1E] text-[22px] font-display tracking-[-.01em] font-semibold
}

.content-description {
  @apply text-[#4A4F57] text-[16px] max-w-[58ch] font-body
}

.content-title-link {
  @apply hover:text-[#2E4F8C] hover:underline hover:underline-offset-3;
}

.nav-link {
  @apply text-[13px] text-[#4A4F57] py-1 before:content-['/'] before:text-[#DEDEd6] before:mr-[2px]
}

.tag {
  @apply font-mono text-[12px] text-[#4A4F57] bg-[#EEEEE7] border border-[#DEDEd6] py-[3px] px-[8px]
}

.about-titles {
  @apply text-[15px] font-mono uppercase tracking-[.08em] text-[#83888F] font-medium mb-[12px] mt-[30px]
}

.link-list {
  @apply py-[6px] border-b border-b-[#E9E9E2] flex justify-between
}

.list-item {
  @apply font-mono text-[#181A1E] text-[14px]
}

.link-item {
  @apply font-mono text-[#2E4F8C] text-[14px]
}

.breadcrumb {
  @apply flex flex-wrap gap-2 mb-3 font-mono text-[12px] leading-[1.65] text-[#83888F];
}